web/WEB-INF/wsdl/localhost_8080/EjemploWebServices/utilidades.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="utilidades">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/EjemploWebServices/utilidades?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarLugar">
<part name="parameters" element="tns:insertarLugar"/>
</message>
<message name="insertarLugarResponse">
<part name="parameters" element="tns:insertarLugarResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listadoLugar">
<part name="parameters" element="tns:listadoLugar"/>
</message>
<message name="listadoLugarResponse">
<part name="parameters" element="tns:listadoLugarResponse"/>
</message>
<message name="modificarLugar">
<part name="parameters" element="tns:modificarLugar"/>
</message>
<message name="modificarLugarResponse">
<part name="parameters" element="tns:modificarLugarResponse"/>
</message>
<portType name="utilidades">
<operation name="insertarLugar">
<input wsam:Action="http://services/utilidades/insertarLugarRequest" message="tns:insertarLugar"/>
<output wsam:Action="http://services/utilidades/insertarLugarResponse" message="tns:insertarLugarResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://services/utilidades/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://services/utilidades/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services/utilidades/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/utilidades/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listadoLugar">
<input wsam:Action="http://services/utilidades/listadoLugarRequest" message="tns:listadoLugar"/>
<output wsam:Action="http://services/utilidades/listadoLugarResponse" message="tns:listadoLugarResponse"/>
</operation>
<operation name="modificarLugar">
<input wsam:Action="http://services/utilidades/modificarLugarRequest" message="tns:modificarLugar"/>
<output wsam:Action="http://services/utilidades/modificarLugarResponse" message="tns:modificarLugarResponse"/>
</operation>
</portType>
<binding name="utilidadesPortBinding" type="tns:utilidades">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarLugar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoLugar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarLugar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="utilidades">
<port name="utilidadesPort" binding="tns:utilidadesPortBinding">
<soap:address location="http://localhost:8080/EjemploWebServices/utilidades"/>
</port>
</service>
</definitions>